<configuration>
  <appSettings>

    <add key="cybs.merchantID" value="your_case_sensitive_merchant_id"/>
    <add key="cybs.keysDirectory" value="your_keys_dir(baseDir\simapi-net-n.n.n\keys)"/>
    <add key="cybs.sendToProduction" value="false"/>

    <!-- logging should normally be disabled in production as it would  -->
    <!-- slow down the processing.  Enable it only when troubleshooting -->
    <!-- an issue.                                                      -->
    <add key="cybs.enableLog" value="false"/>
    <add key="cybs.logDirectory" value="your_log_dir(baseDir\simapi-c-n.n.n\logs)"/>
	
	<add key="cybs.useSignAndEncrypted" value="false"/>

    <!-- Please refer to the Connection Limit section in the README for -->
    <!-- details on this setting and alternate ways to set the          -->
    <!-- connection limit.  When not specified or is set to -1, the     -->
    <!-- client will implicitly use the connection limit currently in   -->
    <!-- force, which would be 2 if none of the alternate methods are   -->
    <!-- used.                                                          -->
    <add key="cybs.connectionLimit" value="-1"/>                            

    <!-- DO NOT INCLUDE THIS PROPERTY IN YOUR OWN APPLICATIONS! -->
    <add key="cybs.demo" value="true"/>

  </appSettings> 
</configuration>
