<configuration>
  <appSettings>

    <add key="cybs.merchantID" value="jasontest"/>
    <add key="cybs.keysDirectory" value="c:\keys"/>
    <add key="cybs.sendToProduction" value="false"/>

    <!-- logging should normally be disabled in production as it would  -->
    <!-- slow down the processing.  Enable it only when troubleshooting -->
    <!-- an issue.                                                      -->
    <add key="cybs.enableLog" value="true"/>
    <add key="cybs.logDirectory" value="c:\logs"/>

    <!-- DO NOT INCLUDE THIS PROPERTY IN YOUR OWN APPLICATIONS! -->
    <add key="cybs.demo" value="true"/>


    <add key="cybs.proxyURL" value="http://localhost:8888" />

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
