<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="INVPTransactionProcessor">
                    <security mode="Transport" />
                </binding>
                <binding name="INVPTransactionProcessor1" />
                <binding name="ITransactionProcessor">
                    <security mode="Transport" />
                </binding>
                <binding name="ITransactionProcessor1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ics2wstest.ic3.com:443/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="INVPTransactionProcessor"
                contract="NVPServiceReference.INVPTransactionProcessor" name="portNVP" />
            <endpoint address="https://ics2wstest.ic3.com:443/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="SoapServiceReference.ITransactionProcessor" name="portXML" />
        </client>
    </system.serviceModel>
</configuration>