<configuration>
  <system.net>
    <connectionManagement>
      <add address="https://ics2wstest.ic3.com" maxconnection="5"/>
      <add address="http://10.2.5.55:8030" maxconnection="5"/>
      <add address="*" maxconnection="2"/>
    </connectionManagement>
  </system.net>

  <appSettings>

      <!-- add key="cybs.merchantID" value="mteverest"/ -->
    <add key="cybs.merchantID" value="jasontest"/>
    <add key="cybs.keysDirectory" value="c:\keys"/>
    <add key="cybs.sendToProduction" value="false"/>

    <!-- logging should normally be disabled in production as it would  -->
    <!-- slow down the processing.  Enable it only when troubleshooting -->
    <!-- an issue.                                                      -->
    <add key="cybs.enableLog" value="true"/>
    <add key="cybs.logDirectory" value="c:\cybs\logs"/>

    <!-- DO NOT INCLUDE THIS PROPERTY IN YOUR OWN APPLICATIONS! -->
    <add key="cybs.demo" value="false"/>

<!--    <add key="serverURL" value="http://10.2.5.55:8030/commerce/1.x/transactionProcessor"/>-->
    <add key="connectionLimit" value="-1"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
