<configuration>

    <system.diagnostics>

            <sources>
            <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
                <listeners>
                        <add name="xml" />
                </listeners>
            </source>

                <source name="System.ServiceModel.MessageLogging">
                    <listeners>
                        <add name="xml"/>
                    </listeners>
                </source>

                <source name="System.Runtime.Serialization">
                    <listeners>
                        <add name="xml" />
                    </listeners>
                </source>


            </sources>

        <sharedListeners>
            <add name="xml"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="c:\cybs\logs\Traces.svclog" />
        </sharedListeners>


        <trace autoflush="true" />
    </system.diagnostics>



    <appSettings>

		<add key="cybs.merchantID" value="Merchant ID"/>
		<add key="cybs.keysDirectory" value="Merchant Key Directory"/>
		
		<!--the following flags can be used to control the endpoint to which requests will be sent.
        Set sendToProduction=true to send requests to Cybersource production environment.
        Set sendToAkamai=true to send requests through Akamai to Cybersource.
        If serverURL is provided then it takes precedence over the above settings. By default
        the serverURL config is commented. -->  
		<add key="cybs.sendToProduction" value="false"/>
		<add key="cybs.sendToAkamai" value="true"/>

		<!-- <add key="cybs.serverURL" value="Server URL"/> -->

		<!-- logging should normally be disabled in production as it would  -->
        <!-- slow down the processing.  Enable it only when troubleshooting -->
        <!-- an issue.                                                      -->
		<add key="cybs.enableLog" value="false"/>
		<add key="cybs.logDirectory" value="Log directory"/>
		
		<!-- Below flag control encryption of request body. If set to true then request body
			will be both signed and encrypted else only signing will be done -->
		<add key="cybs.useSignAndEncrypted" value="false"/>
    
        <!-- DO NOT INCLUDE THIS PROPERTY IN YOUR OWN APPLICATIONS! -->
        <add key="cybs.demo" value="true"/>
		
		<!--Proxy Settings-->
		<!--<add key="cybs.proxyURL" value="Proxy URL" />-->
		<!--<add key="cybs.proxyUser" value="Proxy User"/>-->
		<!--<add key="cybs.proxyPassword" value="User Password"/>-->


  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
    <system.serviceModel>
        <diagnostics>
            <messageLogging
                logMessagesAtTransportLevel="true"
                logMessagesAtServiceLevel="false"
                logMalformedMessages="true"
                logEntireMessage="true"
                maxSizeOfMessageToLog="65535000"
                maxMessagesToLog="500" />
        </diagnostics>
    </system.serviceModel>

</configuration>
