<configuration>

    <system.diagnostics>

            <sources>
            <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
                <listeners>
                        <add name="xml" />
                </listeners>
            </source>

                <source name="System.ServiceModel.MessageLogging">
                    <listeners>
                        <add name="xml"/>
                    </listeners>
                </source>

                <source name="System.Runtime.Serialization">
                    <listeners>
                        <add name="xml" />
                    </listeners>
                </source>


            </sources>

        <sharedListeners>
            <add name="xml"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="c:\cybs\logs\Traces.svclog" />
        </sharedListeners>


        <trace autoflush="true" />
    </system.diagnostics>



    <appSettings>

    <add key="cybs.merchantID" value="jasontest"/>
    <add key="cybs.keysDirectory" value="c:\keys"/>
    <add key="cybs.sendToProduction" value="false"/>

    <!-- logging should normally be disabled in production as it would  -->
    <!-- slow down the processing.  Enable it only when troubleshooting -->
    <!-- an issue.                                                      -->
    <add key="cybs.enableLog" value="true"/>
    <add key="cybs.logDirectory" value="c:\cybs\logs"/>
    
    <!-- DO NOT INCLUDE THIS PROPERTY IN YOUR OWN APPLICATIONS! -->
    <add key="cybs.demo" value="true"/>


  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
    <system.serviceModel>
        <diagnostics>
            <messageLogging
                logMessagesAtTransportLevel="true"
                logMessagesAtServiceLevel="false"
                logMalformedMessages="true"
                logEntireMessage="true"
                maxSizeOfMessageToLog="65535000"
                maxMessagesToLog="500" />
        </diagnostics>
    </system.serviceModel>

</configuration>
